/*  your css code here. If applicable */

a{
	text-decoration:none;
}
body{
	background-color:#cccccc;
	text-decoration:none;
	text-align:center;
}
ul{
	text-align:start;
}
h2{
	text-align:center;
}
h3{
	text-align:center;
}
.player_one{
	background-color:white;
	
	border-radius:10px;
}
.player_two{
	background-color:white;
	display:inline-block;
	margin-left:120px;
	margin-right:100px;
	border-radius:10px;
	vertical-align:middle;
	//text-align:center;
	//justify-content:center;
}